@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0071CE;
  /* Walmart Blue */
  --color-secondary: #FFC220;
  /* Walmart Yellow */
  --color-accent: #F47321;
  /* Walmart Orange */

  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply antialiased text-gray-900 bg-gray-50 font-sans;
  }
}